apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios-8guz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ljzb-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios-8guz@sha256:f9dc860bd2623034ee6e8c120e4947b9f370cb6e3cf475f7e29ab4a863328665
        name: my-python
        resources: {}
status: {}
