apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-go-rhtap-three-component-scenarios-apap
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ljzb-tenant/mc-three-scenarios/devfile-go-rhtap-three-component-scenarios-apap@sha256:d1cd77b6cff015df1f4a7e72ff7fe70972fd9236047c7a5c0e706d23182b9b21
        name: my-go
        resources: {}
status: {}
