apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-tqsb
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ljzb-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-tqsb@sha256:7e4268c487315d543c23fe32382179f68b6841744ed2b1514c57361542161d00
        name: my-nodejs
        resources: {}
status: {}
